allure-results/
allure-report/
__pycache__/

.pytest_cache/
allure-results
allure-report
__pycache__
*.pyc

.pytest_cache
.idea/
tests/.pytest_cache/
tmp/

*/__pycache__/
pages/__pycache__/*
__pycache__
__pycache__/*
__pycache__/**/*
__pycache__/conftest.cpython-37-PYTEST.pyc

*.pyc
venv
venv/
venv/*

debug.log
globals.py